.card {
  display: inline-block;
  padding: 1.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.0625rem 0.125rem 0 var(--darkgray);
  border: solid 0.0625rem var(--gainsboro);
  background-color: var(--white);
}
