:root {
  --foreground: #ededed;

  /* Colors */
  --gainsboro: #dadada;
  --darkgray: rgba(132, 132, 132, 0.75);
  --gray-22: #383838;
  --white: #fff;
  --black: #000;
  --silver: #c4c4c4;
  --green: #0ab463;
  --blue: #0094ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;
}

.header {
  box-shadow: 0 2px 0 0 var(--gainsboro);
  background-color: #fff;
  padding: 0.875rem 0;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  color: #0ab463;
}

body {
  color: var(--black);
  background: var(--foreground);
}

a {
  color: var(--blue);
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: normal;
}
